@tailwind base;
@tailwind utilities;
@tailwind utilities;

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 4rem;
  line-height: 1;
}

/* Heading Styles */
.md > h1 {
  @apply text-4xl font-semibold mb-6;
}

.md > h2 {
  @apply text-3xl font-semibold mb-4;
}

.md > h3 {
  @apply text-2xl font-semibold mb-2;
}

.md > h4 {
  @apply text-xl font-semibold mb-2;
}

.md > h5 {
  @apply text-lg font-semibold mb-2;
}

.md > h6 {
  @apply text-base font-semibold mb-2;
}

/* Paragraph Styles */
.md > p {
  @apply text-xl leading-normal mb-8;
}
